@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body {
    padding-top: 70px;
}

#notice_wrapper {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(135, 216,211,0.85);
    .alert, .notice {
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
    }
  }
